*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: #099;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

body{
    height: 250vh;
}

main{
    width: 100%;
    height: 80%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.bars{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 5px;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    background-color: #41d1ca;
}

.oscuridad{
    margin: 5% 20%;
    width: 60%;
    height: 20%;
    background-color: #000;
}

.img-presentacion{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
    opacity: .6;
}

.img-presentacion p{
    margin-left: 5%;
    margin-top: -65%; 
    position: absolute;
    color: #fff;
    width: 200px;
    font-size: 32px;
    font-weight: 400;
}

footer{
    top: 150%;
    width: 100%;
    height: 20%;
    background-color: #439e99;
    padding-top: 30px;
}

.desarrolloft{
    margin-top: 30px;
    
}

.f{
    padding-top: 10px;
}

.desarrolloft ul{
    margin-top:-170px;
    margin-left: 10px;
    padding-bottom: 20px;
    
}

.desarrolloft ul li{
    margin-left: 50px;
    margin-bottom: 32px;
}

.desarrolloft ul li a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.desarrolloft ul li{ 
    color: #fff;
}

.desarrolloft span{
    margin-top: 15px ;
    margin-left: 20px;
    position: relative;
    display: block;
    color: #fff;
}

.linea{
    margin-left: 10%;
    padding-top: 20px;
    padding-left: 14%;
    width: 80%;
    border-top: 1px solid #fff
}

.face, .whats, .insta, .twiter{
    color: #fff;
}

.face{
    margin-left:25%;
}

.whats,.insta, .twiter{
    margin-left: 20px;
}

.uno:hover,.dos:hover,.tres:hover,.cuatro:hover{
    width: 97%;
    height: 97%;
    background-image: none;
    background-color: #000;
    opacity: .6;
    z-index: 40;
}

.uno:hover p,.dos:hover p, .tres:hover p,.cuatro:hover p{
    display: block;
    margin: 10%;
    margin-top: 5%;
    width: 80%; 
    height: 60%;
}

.desarrollo div:hover{
    background-color: #44d3cc;
}

.face:hover{
    background-color: #009;;
}

.whats:hover{
    background-color: #090;
}

.insta:hover{
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.twiter:hover{
    background-color: rgb(33, 179, 179);
}


@media(max-width:900px) {
    header{
        padding: 0 30px;
    }

    main{
        width: 90%;
        height: 70%;
    }

    .bars{
        display: block;
        cursor: pointer;
    }

    .bars .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
    }

    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #2e2f34;
        transition:0.5s;
        overflow: hidden;
        z-index: 20;
    }

    .nav-bar.active{
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto;
        text-align: left;
        transition: 0.5s;
    }

    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul{
        opacity: 1;
    }

    .nav-bar ul li {
        margin-bottom: 20px;
    }

    .oscuridad{
        margin: 5% 15%;
        width: 75%;
        height: 15%;
        background-color: #000;
    }
    
    .img-presentacion{
        width: 100%;
        height: 100%;
    }
    
    img{
        width: 100%;
        height: 100%;
        opacity: .6;
    }

    .img-presentacion p{
        margin-left: 5%;
        margin-top: -40%; 
    }

    footer{
        height: 30%;
        margin-top: 220%;
    }

    .desarrolloft span{
        margin-top: 25px ;
    }

    .desarrolloft ul{
    margin-top:-170px;
    margin-left: 10px;
    padding-bottom: 20px;
    
    }

    .desarrolloft ul li{
        margin-left: 50px;
        margin-bottom: 32px;
    }

    .desarrolloft ul li a{
        color: #fff;
        font-weight: 700;
        text-decoration: none;
    }
    
    .desarrolloft ul li{ 
        color: #fff;
    }
    
    .desarrolloft span{
        margin-top: 15px ;
        margin-left: 20px;
        position: relative;
        display: block;
        color: #fff;
    }

    .face{
        margin-left: 16%;
    }

    
}
