*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: #099;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

body{
    height: 380vh;
}

main{
    width: 100%;
    height: 80%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.bars{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 5px;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    background-color: #41d1ca;
}

/* Pantalla de inicio */

.primerpantalla{
    margin-left:7%;
    width: 90%;
    height: 35%;
}

.oscuridad{
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 55;
    opacity: .5;
}

.subcontenedor{
    margin-top:5%;
    margin-left: 8%;
    border:.5px solid transparent;
    border-bottom: none;
    width: 80%;
    height: 50%;
    text-align: center;
    background-image: url("image/hidraulica.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;


    animation-name: desplazar;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration:16s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.titulo p{
    margin-left: 5%;
    margin-top: -20%; 
    position: absolute;
    color: #fff;
    width: 200px;
    font-size: 32px;
    font-weight: 400;
}

@keyframes desplazar {
    0%{
        background-image: url("image/hidraulica.jpg");
    }
    50%{
        background-image: url("image/cuatro.jpg");
    }
    100%{
        background-image: url("image/dos.jpg");
    }
}

/*Primeros Botones*/

.desarrollo{
    margin-left:10%;
    width: 75%;
    height: 50%;
}

.desarrollo div{
    margin: 20px auto;
    display: block;
    width: 75%;
    height: 12%;
    padding: 10px;
    text-align: center;
    background-color: #439e99;;
    border: 2px solid #fff;
    border-radius: 15px;
} 

.desarrollo div a{
    color: #fff;
    text-decoration: none;
    font-size:24px;
    font-weight: 700;
}

.información{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -2%;
    margin-left: 10%;
    width:80%;
    height: 40%;
}

.información div .puno{
    display:none;
}

.uno{
    background-image:url(image/uno.jpg);
    background-size: cover;  
}

.dos{
    background-image:url(image/dos.jpg);
    background-size: cover;     
}

.tres{
    background-image:url(image/tres.webp);
    background-size: cover;    
    
}

.cuatro{
    background-image:url(image/cuatro.jpg);
    background-size: cover;    
}  

.sombrainf{
    width:100%;
    height: 11%;
    padding-top: 10px;
    padding-left: 20%;
    background-color: #000;
    opacity: .75;
    z-index: 50; 
}

.información .uno .sombrainf h5,
.información .dos .sombrainf h5,
.información .tres .sombrainf h5,
.información .cuatro .sombrainf h5{
    margin-top: -1%;
    font-size: 30px;
    font-weight: 700;
}

.información .dos .sombrainf h5{
    padding-left: 15%;
}

.información .uno, .información .dos, .información .tres,
.información .cuatro {
    width:97%;
    height: 97%;  
    color: #fff; 
    }

footer{
    margin-top: 150px;
    width: 100%;
    height: 20%;
    background-color: #439e99;
    padding-top: 30px;
}

.desarrolloft{
    margin-top: 30px;
    
}

.f{
    padding-top: 10px;
}

.desarrolloft ul{
    margin-top:-170px;
    margin-left: 10px;
    padding-bottom: 20px;
    
}

.desarrolloft ul li{
    margin-left: 50px;
    margin-bottom: 32px;
}

.desarrolloft ul li a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}


.desarrolloft ul li{ 
    color: #fff;
}

.desarrolloft span{
    margin-top: 15px ;
    margin-left: 20px;
    position: relative;
    display: block;
    color: #fff;
}

.linea{
    margin-left: 10%;
    padding-top: 20px;
    padding-left: 14%;
    width: 80%;
    border-top: 1px solid #fff
}

.face, .whats, .insta, .twiter{
    color: #fff;
}

.face{
    margin-left:25%;
}

.whats,.insta, .twiter{
    margin-left: 20px;
}

.uno:hover,.dos:hover,.tres:hover,.cuatro:hover{
    width: 97%;
    height: 97%;
    background-image: none;
    background-color: #000;
    opacity: .6;
    z-index: 40;
}

.uno:hover p,.dos:hover p, .tres:hover p,.cuatro:hover p{
    display: block;
    margin: 10%;
    margin-top: 5%;
    width: 80%; 
    height: 60%;
}

.desarrollo div:hover{
    background-color: #44d3cc;
}

.face:hover{
    background-color: #009;;
}

.whats:hover{
    background-color: #090;
}

.insta:hover{
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.twiter:hover{
    background-color: rgb(33, 179, 179);
}

@media (max-width:768px){
    body{
        height: 200vh;
    }

    header{
        padding: 0 30px;
    }

    main{
        width: 100%;
        height: 70%;
    }

    .bars{
        display: block;
        cursor: pointer;
    }

    .bars .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
    }

    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #2e2f34;
        transition:0.5s;
        overflow: hidden;
        z-index: 20;
    }

    .nav-bar.active{
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto;
        text-align: left;
        transition: 0.5s;
    }

    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul{
        opacity: 1;
    }

    .nav-bar ul li {
        margin-bottom: 20px;
    }

    .primerpantalla{
        margin-left:0%;
        width:100%;
        height:50%;
    }

    .subcontenedor{
        margin: 4%;
        border:.5px solid transparent;
        border-bottom: none;
        width: 90%;
        height: 40%;            
    }

    .titulo p{
        margin-left: 2%;
        margin-top: -30%; 
        font-size: 30;
    }
    
    @keyframes desplazar {
        0%{
            background-image: url("image/hidraulica.jpg");
        }
        50%{
            background-image: url("image/cuatro.jpg");
        }
        100%{
            background-image: url("image/dos.jpg");
        }
    }

    .desarrollo{
        
        margin-left: -5%;
        width: 90%;
        height: 60%;
    }

    .desarrollo div{
        margin-top: -5px;
        margin-left: 22%;
        display: block;
        width: 75%;
        height: 15%;
        text-align: center;
        background-color: #439e99;
        border: 2px solid #fff;
        border-radius: 15px;
    } 

    .desarrollo div a{
        margin-bottom: 5px;
        color: #fff;
        text-decoration: none;  
        font-size: 26px;
        font-weight: 600;
    }

    .f{
        padding-top: 15px;
    }

    .información{
        position: relative;
        width:100%;
        height: 60%;
        margin-left: -1%;
        padding: 5px;
    }

    .información .uno, .información .dos, .información .tres,
    .información .cuatro{
        margin: 3%;
        width:97%;
        height: 97%;  
        color: #fff;
        font-weight: 400;  
    }

    .información .cuatro .puno{
        width:95%;
        height: 100%; 
    }

    .sombrainf{
        margin: 3%;
        width:94%;
        height: 12%;
        padding-top: -50px;
        padding-left: 20%;
    }
    
    .información .uno .sombrainf h5,
    .información .dos .sombrainf h5,
    .información .tres .sombrainf h5,
    .información .cuatro .sombrainf h5{
        margin-top: -5%;
        margin-left: -15%;
    }

    .uno{
        background-image:url(image/uno.jpg);
        background-size: cover;  
    }

    .uno p,.dos p,.tres p,.cuatro p{
        display: none;
    }

    .uno h5, .dos h5, .tres h5, .cuatro h5{
        margin-left: -40%;
        font-size: 30px;
        font-weight: 700;
    }

    .dos{
        background-image:url(image/dos.jpg);
        background-size: cover;     
    }

    .tres{
        background-image:url(image/tres.jpg);
        background-size: cover;    
        
    }

    .cuatro{
        background-image:url(image/cuatro.jpg);
        background-size: cover;    
    }
    
    footer{
        margin-top: 50%;
        width: 100%;
        height: 30%;
        background-color: #439e99;
        padding-top: 20px;
    }

    .desarrolloft{
        margin-top: 5%;
    }

    .desarrolloft ul{
        margin-top:-180px;
        margin-left: 15px;
        padding-bottom: 20px;
    }

    .desarrolloft ul li{
        margin-left: 30px;
        margin-bottom: 35px;
    }

    .desarrolloft ul li a{
        color: #fff;
        font-weight: 700;
        text-decoration: none;
    }


    .desarrolloft ul li{ 
        color: #fff;
    }

    .desarrolloft span{
        margin-top: 15px ;
        margin-left: 10px;
        position: relative;
        display: block;
        color: #fff;
    }

    .linea{
        margin-left: 10%;
        padding-top: 20px;
        padding-left: 15%;
        width: 80%;
        border-top: 1px solid #fff
    }

    .face, .whats, .insta, .twiter{
        color: #fff;
    }

    .face{
        margin-left: 16%;
    }

    .whats,.insta, .twiter{
        margin-left: 20px;
    }

    .desarrollo div:hover{
        background-color: #44d3cc;
    } 

    .face:hover{
        background-color: #009;;
    }

    .whats:hover{
        background-color: #090;
    }

    .insta:hover{
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }

    .twiter:hover{
        background-color: rgb(33, 179, 179);
    }

    .uno:hover,.dos:hover,.tres:hover,.cuatro:hover{
        width: 97%;
        height: 97%;
        background-image: none;
        background-color: #000;
        opacity: .6;
        z-index: 40;
    }

    .uno:hover p,.dos:hover p, .tres:hover p{
        display: block;
        margin: 5%;
        width: 90%; 
    }

    .cuatro:hover p{
        display: block;
        margin: 6%;
        width: 95%;
        font-size: 22;
    }

}




